# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
.env
*.db
backend/.venv/

# Node
node_modules/
dist/
dist-ssr/
*.local
.DS_Store

# IDEs
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
